*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
nav{
    height: 10vh;
    background-color: rgb(17, 179, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbtn{
    display: none;
    margin-right:20px;
    font-size: 50px;
    border: 2px solid white;
    padding: 5px 5px;
    border-radius: 5px;
}
#check{
    display: none;
}
.navLinks{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.navLinks li{
    list-style-type:none;
}
.navLinks a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
h2{
    margin-left: 20px;
    font-size: 50px;
  
}